html
    head
        title='Carrito'
        style
            include styles.css
    body
        nav 
            a(href="/") Home 
            a(href="/api/productos") Productos 
            a(href="/api/productos/postProduct") Subir producto
        h1(class="tituloCarrito")="Tu carrito"
        div(class="contenedorCarrito")
            if productsExist 
                for item in products
                    div(class="productCart")
                        p=item.nombre
                        p=`Precio: $${item.precio}`
                        img(class='product-img', src=item.thumbnail)
                        form(action=`/api/carrito/newCarrito/${item._id}` method="POST") 
                            button Eliminar
                div(class="formFinalizarCompra")
                    form(action=`/api/carrito` method="POST") 
                        button Finalizar compra 
            else 
                div(class="msgError") 
                    h2= "Ups, no se han encontrado productos"