html
    head
        title='Carrito'
        style
            include styles.css
    body
        nav 
            a(href="/") Home 
            a(href="/api/productos") Productos 
        h1="Carrito"
        div
        if productsExist 
            for item in products
                div(class="producto")
                    p=item.nombre 
                    p=`precio: $${item.precio}`
                    p=`descripcion: ${item.descripcion}`
                    img(class='product-img', src=item.thumbnail)
                    form(action=`/api/carrito/newCarrito/${item._id}` method="POST") 
                        input(type="submit" value="Eliminar del carrito")
                div 
                    form(action="/finalizarCompra" method="POST") 
                        input(type="submit" value="Finalizar compra")
        else 
            h2= "Ups, no se han encontrado productos"