html
    head
        title='User info'
        style
            include styles.css
    body
        nav 
            a(href="/") Home 
            a(href="/api/productos") Productos
            a(href="/api/productos/postProduct") Subir producto
            a(href="/api/carrito") Carrito 
        div(class="mainInfo")
            h1(class="tituloInfo")="Informacion del usuario"
            div(class="user")
                div(class="avatar") 
                    p=`Nombre: ${infoUser.nombre}`
                    img(src=`${infoUser.avatar}`, alt="" class="userAvatar")
                p=`Email: ${infoUser.email}`
                p=`Dirección: ${infoUser.direccion}`
                p=`Edad: ${infoUser.edad}`
                p=`Telefono: ${infoUser.telefono}`