html
    head
        title='Productos'
        style
            include styles.css
    body
        nav 
            a(href="/") Home 
            a(href="/api/productos/postProduct") Subir producto
            a(href="/api/carrito") Carrito 
        h1(class="titleAP")="Todos nuestros productos"
        div(class="listProduct")
            if productsExist 
                for item in products
                    div(class="productoList")
                        div(class="containerImagen")
                            img(class='product-img', src=item.thumbnail)
                        p=item.nombre 
                        h4=`$${item.precio}`
                        div 
                            form(action=`/api/productos/${item._id}` method="GET") 
                                button Ver más
            else 
                h2= "Ups, no se han encontrado productos"